---
import BaseLayout from './BaseLayout.astro';
import { SITE } from "@config";
const { frontmatter } = Astro.props;
import Icon from './Icon.astro';
import Figure from '../components/Figure.astro';
import CopyButton from '../components/CopyButton.astro';
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
      ))}
    </div>
    <p>{frontmatter.pubDate.toLocaleDateString()}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <slot />
</BaseLayout>

<!-- Code Copy Button Script -->
<CopyButton codeText={`# ACFN Log - July 27 Clipboard copy button working.`} />

<!-- Styling -->
<style>
  a {
    color: #ebe1ca;
  }
  a:visited {
    color: #ebe1ca;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: groove 1px #51755d;
    border-radius: .5em;
    padding: .3em .3em;
    font-size: 0.75em;
    background-color: #51755d;
  }
</style>

<!-- Optional: KaTeX (math rendering) -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
/>
