---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
import { basePath } from "../config";
import '../styles/tags.css';

import Figure from '../components/Figure.astro';
import CopyButton from '../components/CopyButton.astro';
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="tags">
      {frontmatter.tags.map((tag: string) => (
      <p class="tag"><a href={`${basePath}tags/${tag}/`}>{tag}</a></p>
      ))}
    </div>
    <p class="description"><em>{frontmatter.description}</em></p>
    <p>Written by {frontmatter.author} • {frontmatter.pubDate.toLocaleDateString()}</p>
    <img src={`${basePath}${frontmatter.image.url}`} width={frontmatter.image.width} alt={frontmatter.image.alt} />
    
    <article>
      <slot />
    </article>

    <!-- Copy-to-Clipboard button for code blocks -->
    <CopyButton />
</BaseLayout>

<!-- Optional: KaTeX (math rendering) -->
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css"
/>
